<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<!-- <property name="LOG_PATH" value="c:/logs/quickstart/" /> -->
	<conversionRule conversionWord="clr"
		converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%clr(%5p) %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="minute"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/minute.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>
				${LOG_PATH}/minute.%d{yyyy-MM-dd_HH-mm}.%i.log
			</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="daily"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/daily.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern> %d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_PATH}/archived/daily.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	<logger name="org.springframework.jndi" level="error"></logger>

	<springProfile name="dev,test">
		<root level="debug">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="minute" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<root level="info">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="daily" />
		</root>
	</springProfile>
</configuration>  