
<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Default Examples</title>
<style>
form {
	margin: 0;
}

textarea {
	display: block;
}
</style>
<link rel="stylesheet" href="/js/themes/default/default.css" />
<script charset="utf-8" src="/js/kindeditor-all.js"></script>
<script charset="utf-8" src="/js/jquery-1.7.1.min.js"></script>
<script>
	var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[name="content"]', {
			uploadJson : '/hi/upload',
			allowFileManager : false,
			uploading : function(form, callback) {
				$.post('/hi/welcome', function(data) {
					if (callback)
						callback();
				});
			}
		});

		K('input[name=getHtml]').click(function(e) {
			alert(editor.html());
		});
		K('input[name=isEmpty]').click(function(e) {
			alert(editor.isEmpty());
		});
		K('input[name=getText]').click(function(e) {
			alert(editor.text());
		});
		K('input[name=selectedHtml]').click(function(e) {
			alert(editor.selectedHtml());
		});
		K('input[name=setHtml]').click(function(e) {
			editor.html('<h3>Hello KindEditor</h3>');
		});
		K('input[name=setText]').click(function(e) {
			editor.text('<h3>Hello KindEditor</h3>');
		});
		K('input[name=insertHtml]').click(function(e) {
			editor.insertHtml('<strong>插入HTML</strong>');
		});
		K('input[name=appendHtml]').click(function(e) {
			editor.appendHtml('<strong>添加HTML</strong>');
		});
		K('input[name=clear]').click(function(e) {
			editor.html('');
		});
	});
</script>
</head>
<body>
	<h3>默认模式</h3>
	<textarea name="content"
		style="width: 800px; height: 400px; visibility: hidden;">KindEditor</textarea>
	<form action="/hi/addMessage" method="post"
		enctype="multipart/form-data">
		<div>
			<label>message:</label><input type="text" name="message" />
		</div>
		<div>
			<input type="submit" value="submit" />
		</div>
	</form>
	<script type="text/javascript">
		window.document.forms[0].onsubmit = function(ev) {
			var idNode = document.createElement("input");
			idNode.setAttribute("type", "hidden");
			idNode.value = 'abcdefg';
			idNode.name = 'ticket';
			this.appendChild(idNode);
			if (this.message.value == '') {
				this.message.focus();
				var oEvent = ev || event;
				if (oEvent.preventDefault) {
					oEvent.preventDefault();
				} else {
					oEvent.returnValue = false;
				}
			}
		}
	</script>
</body>
</html>
