
<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Default Examples</title>
<style>
form {
	margin: 0;
}

textarea {
	display: block;
}
</style>
<link rel="stylesheet" href="/js/themes/default/default.css" />
<script charset="utf-8" src="/js/kindeditor-all.js"></script>
<script charset="utf-8" src="/js/jquery-1.7.1.min.js"></script>
<script>
	function random_string(len) {
		len = len || 32;
		var chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
		var maxPos = chars.length;
		var pwd = '';
		for (i = 0; i < len; i++) {
			pwd += chars.charAt(Math.floor(Math.random() * maxPos));
		}
		return pwd;
	}

	function get_suffix(filename) {
		pos = filename.lastIndexOf('.')
		suffix = ''
		if (pos != -1) {
			suffix = filename.substring(pos)
		}
		return suffix;
	}

	var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[name="content"]', {
			uploadJson : '/hi/upload',
			allowFileManager : false,
			imageUploading : function(form, callback) {
				$.post('/ali/tk', function(data) {

					suffix = get_suffix($(form).find(':file').val());
					g_object_name = data.dir + random_string(10) + suffix;
					var json = {
						'key' : g_object_name,
						'policy' : data.policy,
						'OSSAccessKeyId' : data.accessid,
						'success_action_status' : '200',
						'callback' : data.callback,
						'signature' : data.signature
					};

					for (key in json) {

						var node = document.createElement("input");
						node.setAttribute("type", "hidden");
						node.value = json[key];
						node.name = key;
						this.appendChild(node);
					}

					if (callback)
						callback();
				});
			},
			imageUploaded : function(data) {
				return data;
			}
		});

		K('input[name=getHtml]').click(function(e) {
			alert(editor.html());
		});
		K('input[name=isEmpty]').click(function(e) {
			alert(editor.isEmpty());
		});
		K('input[name=getText]').click(function(e) {
			alert(editor.text());
		});
		K('input[name=selectedHtml]').click(function(e) {
			alert(editor.selectedHtml());
		});
		K('input[name=setHtml]').click(function(e) {
			editor.html('<h3>Hello KindEditor</h3>');
		});
		K('input[name=setText]').click(function(e) {
			editor.text('<h3>Hello KindEditor</h3>');
		});
		K('input[name=insertHtml]').click(function(e) {
			editor.insertHtml('<strong>插入HTML</strong>');
		});
		K('input[name=appendHtml]').click(function(e) {
			editor.appendHtml('<strong>添加HTML</strong>');
		});
		K('input[name=clear]').click(function(e) {
			editor.html('');
		});
	});
</script>
</head>
<body>
	<h3>默认模式</h3>
	<textarea name="content"
		style="width: 800px; height: 400px; visibility: hidden;">KindEditor</textarea>
	<form action="/hi/addMessage" method="post"
		enctype="multipart/form-data">
		<div>
			<label>message:</label><input type="text" name="message" />
		</div>
		<div>
			<input type="submit" value="submit" />
		</div>
	</form>
	<script type="text/javascript">
		window.document.forms[0].onsubmit = function(ev) {
			var idNode = document.createElement("input");
			idNode.setAttribute("type", "hidden");
			idNode.value = 'abcdefg';
			idNode.name = 'ticket';
			this.appendChild(idNode);
			if (this.message.value == '') {
				this.message.focus();
				var oEvent = ev || event;
				if (oEvent.preventDefault) {
					oEvent.preventDefault();
				} else {
					oEvent.returnValue = false;
				}
			}
		}
	</script>
</body>
</html>
