<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login And Logout Page</title>
    <style type="text/css">
        form label {
            display: inline-block;
            width: 120px;
        }
    </style>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<h3 th:if="${#httpServletRequest.remoteUser eq null}">Login with Username and Password</h3>
<form id="login" th:action="@{/perform_login}" method="post" th:if="${#httpServletRequest.remoteUser eq null}">
    <div>
        <label> User Name : <input type="text" name="username"/>
        </label>
    </div>
    <div>
        <label> Password: <input type="password" name="password"/>
        </label>
    </div>
    <div>
        <label> Remember: <input type="checkbox" name="remember-me"/>
        </label>
    </div>
    <div>
        <input type="submit" value="Sign In"/>
    </div>
</form>
<p th:unless="${#httpServletRequest.remoteUser eq null}">
    You have successfully logged in.
<form th:action="@{/logout}" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <input type="submit" value="Sign Out"/>
</form>
</p>
<script src="https://cdn.bootcss.com/jquery/2.2.0/jquery.js"></script>

</body>
</html>